* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
  font-weight: 400;
}

ul {
  list-style: none;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}
.main-nav .logo {
  width: 110px;
  height: 60px;
  cursor: pointer;
}

.main-nav ul {
  display: flex;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}
.main-nav ul li {
  padding: 0 10px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 400px;
  background: url(/Images/vans.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
}
.btn:hover {
  opacity: 0.9;
}
.supply-header {
  margin: auto;
  text-align: center;
}
.supply-header h3 {
  text-decoration: underline black 3px;
  text-transform: uppercase;
}

/* Home cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-content: center;
  padding-left: 95px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-cards img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
  background-color: grey;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 10px;
}

/* Footer */
.footer {
  background: black;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}

.rights {
  text-align: center;
  color: #fff;
}
